/* Modal.css */

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 40%, 0.5);
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);

}
@media screen and (max-width: 600px) {
  .modal-background {


      /* margin-bottom: 30%;
      margin-right: 10%;
      margin-left: 16%; */
      /* width: 80%; */
      
    }
    .modal-transparent{
      /* margin-top: 20%;
      margin-bottom: 30%;
      margin-right: 10%;
      margin-left: 16%; */
      /* width: 80%; */

  }
  .modal-container{
    width: 200px;
  }
}

.modal-container {
  position: relative;
  
  /* background: linear-gradient(135deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25)); */
  background: white;


  border-radius: 8px;


  /* height:  */
  box-shadow: -2px -2px 1px 1px hsla(34, 90%, 95%, 0.9), 2px 2px 2px 1px hsla(34, 20%, 20%, 0.9),
    -1px -1px 1px 1px hsla(34, 90%, 20%, 0.9), 1px 1px 1px 1px hsla(34, 90%, 90%, 0.9);

}
.close-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
 
  font-size: 28px;
  border-radius: 100%;
  height: 32px;
  width: 32px;
  color: #555;
  transition: all ease-in-out 0.5s;
  box-shadow: inset 0px 2px 1px 0px hsla(280, 70%, 40%, 0.3), inset 0px 1px 1px 0px hsla(280, 70%, 40%, 0.2), inset 0px 1px 3px 0px hsla(280, 70%, 40%, 0.3), inset 0px 2px 1px 0px hsla(280, 70%, 40%, 0.3), inset 0px 1px 1px 0px hsla(280, 70%, 40%, 0.2), inset 0px 1px 3px 0px hsla(280, 70%, 40%, 0.3);
}

.close-icon:hover {
  color: red;
  font-size: 32px;
  transform: rotate(180deg);
  box-shadow: inset -0px -2px 1px 0px hsla(280, 70%, 40%, 0.3), inset 0px -1px 1px 0px hsla(280, 70%, 40%, 0.2), inset 0px -1px 3px 0px hsla(280, 70%, 40%, 0.3), inset 0px -2px 1px 0px hsla(280, 70%, 40%, 0.3), inset 0px -1px 1px 0px hsla(280, 70%, 40%, 0.2), inset 0px 1px 3px 0px hsla(280, 70%, 40%, 0.3);

}

.back-icon {
  position: absolute;
  top: 6px;
  left: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

  font-size: 28px;

  height: 24px;
  width: 24px;

}